/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 90px);
  }

  .nav {
    display: none;
  }

  .header .action {
    margin-left: auto;
  }

  header .body {
    position: relative;
    padding: 36px 0;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
  }

  .toggle-menu {
    width: 28px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-drawer ul a {
    display: block;
    padding: 14px 0;
    color: #333;
    font-weight: 700;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .hero .media-block {
    display: none;
  }

  .hero .content-block {
    margin: 0 auto;
    width: 88%;
    padding: 0;
    text-align: center;
  }

  .hero .cta-group {
    justify-content: center;
  }

  .popular .course-list {
    grid-template-columns: 1fr 1fr;
  }

  .feedback {
    padding: 40px 0;
  }

  .features .body {
    display: block;
  }

  .features .content {
    width: 100%;
    margin-top: 40px;
  }

  .features-2nd .images img {
    width: 100%;
  }

  .footer {
    padding: 96px 20px 0;
  }

  .footer .row {
    column-gap: 40px;
  }

  .footer .list {
    margin: 0;
  }

  .separate {
    border-top: 1px solid #ebebeb;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .header .sign-up-btn {
    display: none;
  }

  .heading.lv1 {
    font-size: 5rem;
  }

  .hero .desc {
    font-size: 1.5rem;
  }

  .hero-cta {
    min-width: 140px;
  }

  .popular-top .controls {
    display: none;
  }

  .popular-top .desc {
    width: 100%;
  }

  .popular .course-list {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .feedback-item blockquote {
    font-size: 1.6rem;
  }

  .features .images .feature-higher {
    position: relative;
    margin-left: -220px;
  }

  .features .images .bottom {
    margin-left: 0;
  }

  .heading.lv2 {
    font-size: 3.5rem;
  }

  .blog .desc {
    width: 100%;
  }

  .blog-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .blog .item {
    width: 100%;
  }

  .footer .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .footer .column {
    width: 100% !important;
  }

  .footer .copy-right p {
    font-size: 1.2rem;
  }
}
