* {
  box-sizing: border-box;
}

/* Tạo biến cho font */
:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ====================== Common ============================= */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px); /* 24px padding on each side */
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block; /* Cho phép đặt kích thước và padding */
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px; /* Chiều cao nút */
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px; /* Bo tròn hoàn toàn */
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

/* Nếu văn bản dài hơn số dòng thì sẽ thành dấu 3 chấm*/
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

/* Làm cho nó bẻ xuống hàng mới mà không bị đâm xuyên qua */
.break-all {
  word-break: break-all;
}

/* ====================== Header ============================= */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px; /* Bù cho padding trên của header */
  z-index: 1; /* Sửa lỗi bị ảnh đè lên header */
}

header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px; /* Padding trên 36px, dưới 8px */
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor; /* Làm cho chữ đậm hơn và không bị giật nội dung như font-weight*/
  color: #171100;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ====================== Hero ============================= */
.hero {
  padding: 56px 0 65px; /* 64px - 8px = 56px */
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%; /* 570px / 1170px * 100% = 48.72% */
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px; /* Set width, để chiều cao auto */
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px 0px #0000000d;
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px; /* padding top: 214px - 150px = 64px*/
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent; /* Trong suốt */
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px #00000012;
  color: #ffffff;
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .stats {
  margin: 8px 0 0 -28px; /* -28px làm cho nó cân lại vì chữ 50K nó bị dịch sang phải*/
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

/* ====================== Popular ============================= */
.popular {
  padding: 65px 0;
  margin-top: 135px; /* Tính luôn cả padding vào nên còn 135px*/
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
}

.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px #0000000d;
}

.popular .course-item .thumb {
  width: calc(
    100% + 2px
  ); /* Nó sẽ vừa với course-item và tăng thêm kích thước để đè lên border */
  height: 278px;
  margin: -1px;
  object-fit: cover; /* Tránh méo ảnh */
  border-radius: 12px 12px 0 0;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center; /* Căn giữa theo trục ngang */
  justify-content: space-between;
}

.popular .course-item .title a {
  padding-right: 6px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular .rating .value {
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
}

.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular .course-item .book-btn {
  border: none;
}

.popular .course-item .book-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

/* ====================== Feedback ============================= */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden; /* Khi phần tử con vượt quá thì ẩn đi */
}

.feedback-item {
  display: flex;
  width: 100%; /* Nằm gọn trong feedback list */
  flex-shrink: 0; /* Làm cho feedback không còn bị ép lại nữa */
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .title {
  font-family: var(--font-heading);
  margin-top: 18px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback-item .info .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.feedback-item .info .dots {
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%; /* Lấy 770 / 1170(main-content) * 100% = 65.81% */
  margin-left: auto;
}

.feedback-item blockquote {
  margin-left: 30px;
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/* ====================== Features ============================= */
.features {
  margin-top: 135px; /* 200px - 65px = 135px */
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 0 30px; /* Nếu có 1 giá trị thì là cả ngang cả dọc */
}

.features .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features img.lower {
  margin-top: 34px; /* Làm ảnh thấp xuống */
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column; /* Đảo trục */
  align-items: flex-start; /* Dồn hết về bên trái */
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  color: #fff;
  background: var(--primary-color);
}

.features-2nd {
  margin-top: 70px; /* Trừ đi 2 cái padding là: 200px - (65px - 65px) */
}

.features-2nd .body {
  flex-direction: row-reverse; /* Đảo ngược */
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

/* ====================== Blog ============================= */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .desc {
  margin: 16px auto auto;
  width: 448px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

.blog-list {
  display: flex;
  gap: 30px; /* Khoảng cách giữa các khối */
  margin-top: 55px;
  overflow: hidden;
}

.blog .item {
  flex-shrink: 0; /* Giữ đúng kích thước và nếu cộng thêm vào thì nó sẽ bị chồi ra */
  width: calc(
    33.33% - 20px
  ); /* Chia đều độ rộng giữa các ảnh. 2 khoảng trắng 30px là 60px chia cho 3 là 20px. Giảm độ rộng mỗi cái item đi 20px. Giải quyết được vấn đề mất nội dung của item 3 */
  border-radius: 16px;
  background: #ffffff;
}

.blog .item:hover {
  box-shadow: 0px 16px 32px 0px #0000000d;
}

.blog .thumb {
  width: 100%; /* Để thấy được nó chia 33.33% rõ ràng */
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.blog .item .info {
  padding: 20px 20px 28px;
}

.blog .item .date {
  position: relative;
  display: inline-flex; /* Đổi qua như này thay vì flex, nó sẽ làm mất đi cái tính chiếm độ rộng của thẻ cha đi */
  align-items: center;
  padding-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.blog .item .date::before {
  content: "";
  display: inline-block; /* Có cái này mới set được height, width*/
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 50%;
  background: var(--primary-color);
}

.blog .item .date::after {
  position: absolute;
  left: 0;
  right: -27px;
  bottom: 0;
  content: "";
  display: inline-block; /* Có thẻ cha là display flex rồi nên không đổi thành block để xuống hàng được */
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
}

.blog .item .title a {
  display: inline-block; /* Vì thẻ <a> là thẻ inline nên nó không hoạt động được cái margin top và margin bottom */
  margin: 12px 0 12px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog .item .btn {
  font-size: 1.4rem;
}

.blog .item .btn:hover {
  background: var(--primary-color);
}

.blog .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blog .dot.active {
  background: var(--primary-color);
  cursor: default;
}
